# Assignment 1 (String methods)

All operations on string data types along with the additional methods are described below

In [2]:
#A helper function used to get attribute and methods of objects
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
#Capitalize the first character of the string while keeping the rest of them as lower case
string = "This is A string"
string.capitalize()

'This is a string'

In [5]:
#Remove all case distinctions in a string
string = "German letter ß"
string.casefold()

'german letter ss'

In [6]:
#str.center(width): The string will appear in the centre of the width provided, spaces will appear on the left and right of the string. The original string is returned if width is less than or equal to len(s)
string = "This is an example string"
string.center(50)

'            This is an example string             '

In [11]:
#str.count(sub[start,end]): Return the number of non-overlapping occurrences of substring sub in the range [start, end]. you can also pass a string as well i.e str.count("text")
string = "This is an example string, a second example and a third example"
string.count(string[11:17])
string.count("example") # The above line and this line gives the same output.

3

In [12]:
#str.encode(encoding="utf-8"): Return an encoded version of the string as a bytes object. Default encoding is 'utf-8'. errors may be given to set a different error handling scheme
string = "string to be encoded: おまえわもう死んでいる" 
string.encode("utf-8")

b'string to be encoded: \xe3\x81\x8a\xe3\x81\xbe\xe3\x81\x88\xe3\x82\x8f\xe3\x82\x82\xe3\x81\x86\xe6\xad\xbb\xe3\x82\x93\xe3\x81\xa7\xe3\x81\x84\xe3\x82\x8b'

In [16]:
#str.endswith(): Return True if the string ends with the specified text, otherwise return False
string = "This is an example string!"
string.endswith("string!") #return true
string.endswith("string") #return false

False

In [15]:
#str.expandtabs(tabsize=8): replace all (\t) in the string with the number of spaces given as tabsize
string = "1\t2\t3\t4"
string.expandtabs(4)

'1   2   3   4'

In [19]:
#str.find(str[start:end]): Return the lowest index in the string where the provided text is found within the slice s[start:end]. Return -1 if not found
string = "This is an example string, a second example and a third example"
string.find("random") #return -1
string.find("example") #return 11

11

In [20]:
#str.format(*args, **kwargs): Replace the braces with the texts provided
string = "My name is {0}, and Air University ID is {1}"
string.format("M Farooq Khan", "160374")

'My name is M Farooq Khan, and Air University ID is 160374'

In [21]:
#str.format_map(dict{}): Similar to str.format(**mapping), but used for direct mapping
'{name} study in {university}'.format_map({'name': 'Farooq', 'university' : 'Air university'})

'Farooq study in Air university'

In [26]:
#str.index(sub[start:end]): same as find(), but display ValueError when the required text is not found.
string = "This is an example string, a second example and a third example"
#string.index("random") #give value error
string.index("example")

11

In [31]:
#str.isalnum(): Return True if all characters in the string are alphanumeric and there is at least one character, False otherwise.
string = "abcja012+3" #return false
string = "abcja0123" #return true
string.isalnum()

True

In [33]:
#str.isalpha(): Return True if all characters in the string are alphabetic and there is at least one character, False otherwise.
string = "abcdefgh1" #return false
string = "abcdefgh" #return true
string.isalpha()

True

In [34]:
#str.isascii(): Return True if the string is empty or all characters in the string are ASCII, False otherwise
string = "This is a string"
string.isascii()

True

In [35]:
#str.isdecimal(): Return True if all characters in the string are decimal characters and there is at least one character, False otherwise.
string = "1234567890"
string.isdecimal()

True

In [38]:
#str.isdigit(): Return True if all characters in the string are digits and there is at least one character, False otherwise.
string = "1234567890"
string = "12345.67890" #return false
string.isdigit()

False

In [41]:
#str.islower(): Return True if all cased characters in the string are lowercase, False otherwise
string = "this is a string"
string.islower()

True

In [43]:
#str.isnumeric(): Return True if all characters in the string are numeric characters, False otherwise.
string = "1234567890a" #return false
string = "1234567890" #return true
string.isnumeric()

True

In [44]:
#str.isspace(): Return True if there are only whitespace characters in the string, False otherwise
string = "                      "
string.isspace()

True

In [51]:
#str.istitle(): Return True if the first character of word is uppercase and rest are lowercase, Return False otherwise.
string = "Titled String"
string.istitle()

True

In [52]:
#str.isupper(): Return True if all cased characters 4 in the string are uppercase, False otherwise.
string = "UPPERCASE"
string.isupper()

True

In [59]:
#str.join(iterable): Return a string which is the concatenation of the strings. A TypeError will be raised if there are any non-string values
stringList = ["My", "name", "is" , "Farooq", "khan"]
" ".join(stringList) #concatenated with a space

'My name is Farooq khan'

In [60]:
#str.ljust(): Return the string left justified in a string of length width. Padding is done using the specified fillchar (default is an ASCII space). The original string is returned if width is less than or equal to len(s).
string = "This is a string"
string.ljust(30)

'This is a string              '

In [61]:
#str.lower(): Return a copy of the string with all the cased characters converted to lowercase
string = "cOnvERT It To LOWERCASE"
string.lower()

'convert it to lowercase'

In [69]:
#str.lstrip([chars]): remove white spaces from the left
string = "          Remove  the whitespaces from the left only  "
string.lstrip()

'Remove  the whitespaces from the left only  '

In [70]:
#str.maketrans(x, y, z): a=97 b=98 etc it will give output characters one by one from both the texts, e.g f from farooq : s from salman and so on 
str.maketrans('farooq', 'salman')

{102: 115, 97: 97, 114: 108, 111: 97, 113: 110}

In [71]:
#str.partition(sep): Split the string at the first occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing the string itself, followed by two empty strings
string = "This is an example string, a second example and a third example"
string.partition("example")

('This is an ', 'example', ' string, a second example and a third example')

In [78]:
#str.replace(old, new): to update previous text with new one
string = "My entry test marks are 90 / 100"
string.replace("90", "94")

'My entry test marks are 94 / 100'

In [80]:
#str.rfind(sub[start:end]): Return the highest index in the string where substring sub is found. Return -1 on failure
string = "This is an example string, a second example and a third example"
string.rfind("example")

56

In [81]:
#str.rindex(): same as rfind() but raises ValueError when the substring sub is not found
string = "This is an example string, a second example and a third example"
#string.rindex("random") #gives value error
string.rindex("example")

56

In [82]:
#str.rjust(width): Return the string right justified in a string of length width. Padding is done using the specified fillchar (default is an ASCII space). The original string is returned if width is less than or equal to len(s)
string = "Display it on right side"
string.rjust(40)

'                Display it on right side'

In [85]:
#str.rpartition(sep): Split the string at the last occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing two empty strings, followed by the string itself
string = "This is an example string, a second example and a third example string"
string.rpartition("example")

('This is an example string, a second example and a third ',
 'example',
 ' string')

In [86]:
#str.rsplit(sep): Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done, the rightmost ones. If sep is not specified or None, any whitespace string is a separator. Except for splitting from the right, rsplit() behaves like split() which is described in detail below
string = "Split this string 2 times at spaces from right"
string.rsplit(" ", 2)

['Split this string 2 times at spaces', 'from', 'right']

In [89]:
#str.rstrip(): remove white spaces from right side
string = "      Remove     whitespaces            "
string.rstrip()

'      Remove     whitespaces'

In [91]:
#str.split(): Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done (thus, the list will have at most maxsplit+1 elements). If maxsplit is not specified or -1, then there is no limit on the number of splits (all possible splits are made).If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty strings (for example, '1,,2'.split(',') returns ['1', '', '2']). The sep argument may consist of multiple characters (for example, '1<>2<>3'.split('<>') returns ['1', '2', '3']). Splitting an empty string with a specified separator returns [''].
string = "Split this string 4 times at spaces from left"
string.split(" ", 4)

['Split', 'this', 'string', '4', 'times at spaces from left']

In [92]:
#str.splitlines(): Return a list of the lines in the string, breaking at line boundaries. Line breaks are not included in the resulting list unless keepends is given and true.
string = "my name is\n muhammad\n farooq\n khan\n"
string.splitlines()

['my name is', ' muhammad', ' farooq', ' khan']

In [97]:
#str.startswith(prefix): Return True if string starts with the prefix, otherwise return False
string = "Its an example string"
string.startswith("Its")

True

In [98]:
#str.strip(): Remove spaces from both sides
string = "              Removed    spaces   from both sides             "
string.strip()

'Removed    spaces   from both sides'

In [100]:
#str.swapcase(): Return a copy of the string with uppercase characters converted to lowercase and vice versa
string = "This Is An Example String"
string.swapcase()

'tHIS iS aN eXAMPLE sTRING'

In [104]:
#str.title(): Make every word as title i.e start with upper case
string = "changed to tilted case"
string.title()

'Changed To Tilted Case'

In [106]:
#str.upper(): Return a copy of the string with all the cased characters converted to uppercase
string = "this is an example string"
string.upper()

'THIS IS AN EXAMPLE STRING'